<div class="d-flex justify-content-center align-items-center min-vh-100 bg-light">
    <div class="card shadow-lg">
        <div class="card-header text-center">
            <div class="nav nav-tabs card-header-tabs">
                <button class="btn nav-link w-50" [ngClass]="{'active': activeRole === 'student'}" (click)="setRole('student')">Student</button>
                <button class="btn nav-link w-50" [ngClass]="{'active': activeRole === 'teacher'}" (click)="setRole('teacher')">Teacher</button>
            </div>            
        </div>
        <div class="card-body" [formGroup]="formBody">
            <div class="form-floating mb-3">
                <input class="form-control" type="text" id="emailForm" formControlName="email" placeholder="example@email.com">
                <label for="emailForm">Email adress</label> 
            </div>
            <div class="form-floating">
                <input class="form-control" type="password" id="passwordForm" formControlName="password" placeholder="********">
                <label for="passwordForm">Password</label>   
            </div>
        </div>
        <div class="card-footer border-0 bg-transparent">
                <button class="btn btn-primary w-100" (click)="onSumbit()">Login</button>
        </div>
    </div>
</div>